          <div style="display:block; position:relative; margin-left:56px; min-height:48px">
            <!--<a href="http://twitter.com/<%= twit.user.screen_name %>" target="_blank">-->
              <a href="<%= user_path(twit.user) %>" >
              <%= image_tag twit.user.profile_image.html_safe, :style => "-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;position:absolute;top:0px;left:-55px;" %>
              <strong><%= twit.user.name %></strong> <span>@<%= twit.user.screen_name %></span>
            </a>
            <div style="position: relative;float: right;">
              <span><%= twit.user.created_at %></span>
              <% if params[:controller] == "twits" %>
                <%= link_to t('.show_original', :default => t("helpers.links.show_original")), "http://twitter.com/#{twit.user.screen_name }/status/#{twit.id}/", :class => 'btn' %>
              <% else %>
                <%= link_to t('.show', :default => t("helpers.links.show")), twit_path(twit), :class => 'btn' %>
              <% end %>
            </div>
            <p><%= twit.text_html.html_safe %></p>
            
          </div>
          <%
            links = twit.get_links
            links.each do |l|
              %><div style="display:block; position:relative; margin-left:102px;"> <%= TwitterCrawler.get_crawled_body("#{l}","html").html_safe %></div><% 
            end
          %>
