<%- model_class = @trend.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %>: <%= @trend.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:as_of) %>:</strong></dt>
  <dd><%= @trend.as_of %></dd>
</dl>

<h3><%=t '.twits_title', :default => Twit.model_name.human.pluralize %></h2>

<% @twits = @trend.twit.order("created_at DESC").limit(10) %>

<table class="table table-striped">
  <tbody>
    <% @twits.each do |twit| %>
      <tr>
        <td>
          <div style="display:block; position:relative; margin-left:56px; min-height:48px">
            <a href="http://twitter.com/<%= twit.user.screen_name %>" target="_blank">
              <%= image_tag twit.user.profile_image.html_safe, :style => "-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;position:absolute;top:0px;left:-55px;" %>
              <strong><%= twit.user.name %></strong> <span>@<%= twit.user.screen_name %></span>
            </a>
            <p><%= twit.text_html.html_safe %></p>
          </div>
          <%
            links = twit.get_links
            links.each do |l|
              %><div style="display:block; position:relative; margin-left:102px;"> <%= TwitterCrawler.get_crawled_body("#{l}","html").html_safe %></div><% 
            end
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              trends_path, :class => 'btn'  %>
<%= link_to t('.refresh', :default => t("helpers.links.refresh")), refresh_twits_trends_path(id:@trend), :class => 'btn btn-primary' %>
<% if false %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_trend_path(@trend), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              trend_path(@trend),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
<% end %>
</div>
